:root{
    font-size: 16px;

}
body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;

}

.head1{
    height: 2.5rem;
    width: 100%;
    background-color: #5B4CCC;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.searchicon img {
    height: 1.5rem;
    width: 1.5rem;
}

.head2 {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem !important;
    background-color: white;
    width: 100%;
    margin: auto;
    border: 1px solid white;
}

.logo img {
    height: 3rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

nav {
    margin-right: 5rem;
}

nav .navs {
    display: inline;
    margin: 0.3rem;
    font-size: 1.2rem;

}

nav .navs a {
    text-decoration: none;
    color: #5B4CCC;
    font-weight: 600;
}

nav .navs a:hover{
    border-bottom: 1.5px solid grey;
}

.hero {
    height: 30rem;
    width:100%;
    background-color: black;
    position: relative;
}

.heroimg{
    height: 30rem;
    width: 100%;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.herotxt{
    position: absolute;
    top: 30%;
    left: 5%;
    text-align: center;
}

.herotxt h1{
    font-size: 50px;
    font-weight: 900;
    color: white;
    font-family: arial;
}

.herotxt h3{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.statement{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 2rem;
    margin: 0 2rem;
    box-sizing: border-box;
}
.mission, .vision{
    background-color: #9C8EF4;
    color: whitesmoke;
    margin: 5rem 1rem;
    padding: 0 20px;
    box-shadow: 5px 10px 15px #5B4CCC;
}

.mission, .vision p{
    line-height: 20px;
    text-align: justify;
}
