:root{
    font-size: 16px;

}
body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    margin: 0 auto;
    overflow: auto;
}

.head1{
    height: 3rem;
    width: 100%;
    background-color: #5B4CCC;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

input[type=search]{
    width: 300px;
    margin: 50px;
    border-radius: 5px;
    height: 35px;
    padding-left: 10px;
    border: none;
    outline: none;
}

.head2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem !important;
    background-color: white;
    width: 100%;
    margin: auto;
}

.logo img {
    height: 3rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.nav_menu {
    margin-right: 4rem;
}

.nav {
    margin-right: 5rem;
    width: 100%;
}

.nav .navs {
    display: inline;
    margin: 0.3rem;
    font-size: 1.2rem;
}

.nav .navs a {
    text-decoration: none;
    color: #5B4CCC;
    font-weight: 600;
}

nav .navs a:hover{
    border-bottom: 1.5px solid grey;
}

.hero {
    height: 30rem;
    width:100%;
    background-color: black;
    position: relative;
}

.heroimg{
    height: 30rem;
    width: 100%;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.herotxt{
    position: absolute;
    top: 30%;
    left: 5%;
    text-align: center;
}

.herotxt h1{
    font-size: 50px;
    font-weight: 900;
    color: white;
    font-family: arial;
}

.herotxt h3{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.statement{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 2rem;
    margin: 0 2rem;
    box-sizing: border-box;
}
.mission, .vision{
    background-color: #9C8EF4;
    color: whitesmoke;
    margin: 5rem 1rem 1rem 1rem;
    padding: 0 20px;
    box-shadow: 5px 10px 15px #5B4CCC;
}

.mission, .vision p{
    line-height: 20px;
    text-align: justify;
}

.productcatalogue {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   place-items: center;
   margin: 0 50px;
}

.product {
    box-shadow: 3px 5px 10px #9C8EF4;
}

.product img {
    display: block;
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.product h2 {
    text-align: center;
    font-size: 1.8rem;
}

.product p {
    margin: 20px;
}

.text {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin: 50px 0px;
    color: #5B4CCC;
}

.features {
    display: flex;
    gap: 3rem;
    margin: 3rem 3.1rem;
    background-color: whitesmoke;
    border-radius: 30px;
}

.features img {
    border-radius: 30px;
}

.featuretxt {
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin: 1rem;

}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    align-items: center;
}


.contacts {
    display: flex;
    flex-direction: column;
}

.contacts img {
    height: 2rem;
    width: 2rem;
}

.location, .phone, .email {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.link {
    margin-bottom: 1.5rem;

}

.link a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.link a:hover {
    text-shadow: 2px 2px 2px #5B4CCC;
    border-bottom: 1px solid #5B4CCC;
}

.contact-us {
    margin-top: 0px;

}

.message {
    display: flex;
    flex-direction: column;
}

.name, .emaill, .msg {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input[type=submit] {
    background-color: #9C8EF4;
    color: white;
    border: none;
    width: 30%;
    height: 30px;
    margin-bottom: 30px;
}

/* Responsive */
@media screen and (max-width: 960px) {
    /*Nav Responsive*/
    .head1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_menu {
        display: grid;
        grid-template-columns: auto;
        place-items: center;
        width: 60%;
        position: absolute;
        top: -1000px;
        margin-top: -620px;
        margin-left: -360px;
        opacity: 0;
        transition: all 0.9s ease;
        height: 60vh;
        z-index: -1;
        background: #fff;
        border-radius: 10px;
    }

    .nav_menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #000;
    }

    .navs {
        text-align: center;
        padding: 10px;
        width: 60%;
        display: table;
    }

    #mobile_mode {
        position: absolute;
        top: 12%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile_mode.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile_mode.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    } 

    #mobile_mode.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .herotxt h1 {
        font-size: 35px;
        font-weight: 900;
    }

    .herotxt h3 {
        font-size: 20px;
    }

    .statement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 2rem !important;
        padding: 0;
        box-sizing: border-box;
    }

    .mission {
        margin: 1rem;
        margin-top: 1rem !important;
    }

    .vision {
        margin: 1rem;
    }

    .text {
        font-size: 2rem;
        margin-bottom: 10px !important;
    }

    .productcatalogue {
        display: grid;
        grid-template-columns: 1fr;
    }

    .features {
        width: 100%;
    }
}   